.bgc{
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width: 800px;
    display: flex;
    justify-self: center;
    margin-top: 30px;
    padding: 10px;
    
}
.info{
    display: flex;
    /* flex-direction: column; */
   
    width: 200px;
    height:500px ;
    border-radius: 5px;
   
}

.form{
    margin: 0;
    padding-top: 5px;

}
.text{
    margin-bottom: 10px;
    border: 1px black solid;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    outline-color: blueviolet;
}


.perso{
    width: 500px;
}
.img{
     background-image: url('../../../img/sidebar.svg');
    border-radius: 5px;
    
}
.p{
    color: grey;
}
.information{
    margin-left: 50px;
}
.steps{
    display: flex;
    float: right;
    margin-right: 60px;
    margin-top: 170px;
}
.next{
    background-color: purple;
    border: none;
    color: white;
    height: 30px;
    width: 75px;
    border-radius: 5%;
}