.bgc{
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width: 700px;
    display: flex;
    justify-self: center;
    margin-top: 30px;
    padding: 10px;
    
}
.info{
    display: flex;
    /* flex-direction: column; */
   
    width: 200px;
    height:500px ;
    border-radius: 5px;
   
}

.form{
    margin: 0;
    padding-top: 5px;

}
.text{
    margin-bottom: 10px;
    border: 1px black solid;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    
}
.violet{
    border-color: blueviolet;
}
.perso{
    width: 500px;
}
.img{
     background-image: url('../../../img/sidebar.svg');
    border-radius: 5px;
    
}
.p{
    color: grey;
}